.container {
    position: relative;
    height: 15915px;
    z-index: 30;
  }
  
  .container {
    position: relative;
    z-index: 29;
  }
  
  .title-container {
    position: sticky;
    top: 0;
    background-color: #202020;
    color: #fff;
    z-index: 28;
  }
  
  .title {
    padding: 10px;
  }
  
  .table-container {
    position: relative;
    max-height: 400px;
  }
  
  .overview-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #202020;
    color: #fff;
    table-layout: fixed;
  }
  
  thead {
    position: sticky;
    top: 35px;
    background-color: #202020;
    z-index: 1;
  }
  
  .overview-table {
      width: 100%;
      border-collapse: collapse;
      background-color: #202020;
      color: #fff;
  }
  
  .overview-table th,
  .overview-table td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #444;
  }
  
  .overview-table th.small-width {
      width: 8%;
  }
  
  .overview-table td.user,
  .overview-table td.assignee {
      width: 21%;
  }
  
  .overview-table td.status {
      width: 17%;
  }
  
  .overview-table td.title {
      width: 33%;
  }
  
  .content-text {
      max-height: 54px;
      overflow: hidden;
      position: relative;
      white-space: pre-wrap;
      word-wrap: break-word;
  }
  
  .content-text.show-more {
      max-height: none;
  }
  
  .show-button {
      background-color: transparent;
      font-size: 14px;
      border: none;
      color: #bbb;
      cursor: pointer;
      transition: color 0.3s ease;
  }
  
  .show-button:hover {
      color: #fff;
  }
  
  .show-button:focus {
      outline: none;
  }
  
  .title {
      color: #eee;
      font-size: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #555;
  }
  
  .category-label {
      color: #bbb;
  }
  
  .category {
      background-color: #333;
      color: #fff;
      padding: 2px 6px;
      border-radius: 3px;
      margin-right: 5px;
  }
  
  .category:first-child {
      margin-left: 5px;
  }
  
  .category-row {
      margin-top: 5px;
  }
  
  .category-row:before {
      content: '';
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
  }
  
  .category-row .category-label,
  .category-row .category {
      display: inline-block;
      vertical-align: middle;
  }
  
  .overview-table th,
  .overview-table td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #444;
  }
  
  .overview-table .ticket-separator {
      padding-bottom: 34px;
      border-bottom: 2px solid #ecdddd;
  }