
.overview-table th.small-width {
    width: 8%;
}

.overview-table td:nth-child(2),
.overview-table td:nth-child(3) {
    width: 21%;
}

.overview-table td.small-width {
    width: 17%;
}

.overview-table td:nth-child(5) {
    width: 33%;
}

.content-text {
    max-height: 45px;
    overflow: hidden;
    font-size: 13px;
}

.content-text.show-more {
    max-height: none;
}
