
.overview-table th.small-width {
    width: 8%;
}

.overview-table td:nth-child(2),
.overview-table td:nth-child(3) {
    width: 21%;
}

.overview-table td.small-width {
    width: 17%;
}

.overview-table td:nth-child(5) {
    width: 33%;
}

.formatted-content {
    max-height: 41px;
    overflow: hidden;
    font-size: 13px;
}

.formatted-content.show-more {
    max-height: none;
}

.category-row * {
    font-size: 13px;
}

.category {
    display: inline-block;
    margin-right: 5px;
    background-color: #f0f0f0;
    padding: 4px 8px;
    border-radius: 5px;
}

.category a {
    text-decoration: none;
    color: inherit;
}

.category-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.date {
    margin-left: auto;
}