/* Containers */
.show-page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: calc(100vh - 160px);
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Sticky elements */
.sticky-title {
  padding: 0 0 0 10px;
  text-transform: capitalize;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
}

/* Previous page button */
.back-to-previous-page-button {
  margin: -5px 0 0 0;
  background-color: #fff;
  border: none;
  padding: 4px 12px;
  font-size: 13.1px;
  letter-spacing: 1px;
  border-radius: 5%;
  cursor: pointer;
}

.back-to-previous-page-button * {
  color: #333;
  text-decoration: none;
}

.back-to-previous-page-button:hover {
  letter-spacing: 2px;
}
